body{
    margin:0;
    font-family:Arial;
    background:url("https://images.unsplash.com/photo-1503220317375-aaad61436b1b");
    background-size:cover;
    text-align:center;
    color:white;
}

.box{
    background:rgba(0,0,0,0.7);
    width:350px;
    margin:80px auto;
    padding:20px;
    border-radius:10px;
    animation:fadeIn 2s;
}

input{
    width:90%;
    padding:10px;
    margin:8px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:darkblue;
    transform:scale(1.1);
}

.nav{
    background:black;
    padding:15px;
}

.nav a{
    color:white;
    margin:15px;
    text-decoration:none;
}

.nav a:hover{
    color:yellow;
}

table{
    width:90%;
    margin:auto;
    background:white;
    color:black;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    border:1px solid black;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

.title{
    margin-top:100px;
    font-size:40px;
    animation:fadeIn 3s;
}